 @{
      ViewData["Title"] = "Edit Emoloyee";
 }

 <h1>@ViewBag.ErrorMessage</h1>
 <h1>@ViewBag.Path</h1>
 <h1>@ViewBag.Qs</h1>
   <a asp-controller="home" asp-action="index" class="btn btn-warinig ">Go to Home</a>
 